* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

.social li {
    display: inline;
    padding: 3px;
}

.community li {
    display: inline;
    color: white;
    padding: 3px;
}

.social li i {
    color: white;
    font-size: 20px;
}

.fCon {
    background: black;
    min-height: 48px;
}

.logo {
    width: 160;
    height: 40px;
}

.scNav {
    min-height: 90px;
}

.logoDiv {
    margin-left: -28px;
}

.search {
    border: 0;
    outline: none;
    width: 80%;
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 6px;
    height: 40px;
    float: left;
}

.srcButton {
    background: #eaeaea none repeat scroll 0 0;
    border: none;
    height: 40px;
    margin-left: -3px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.mainNav li {
    display: inline;
    padding: 10px;
}

.mainNav .active {
    color: #ec7532;
}

.mainNav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.mainNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: width .3s;
}

.mainNav li a:hover::after {
    width: 100%;
}

.dropdown-slide > .dropdown-menu {
    opacity:.3;
    display: block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }
  
  .show.dropdown-slide > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity:1;
  }

#carouselExampleIndicators,
.carousel-inner,
.carousel-item,
.carousel-inner img {
    height: 620px;
}

.carousel-inner h4 {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 7px;
}

.carousel-inner h2 {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 60px;
}

.carousel-inner p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.carousel-caption>* {
    animation-delay: 1s;
    animation-fill-mode: both;
}

.carousel-caption {
    top: 29%;
}

.wtchCar {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border: none;
    border-radius: 10px;
    height: 47px;
    width: 160px;
    color: white;
}

.arrow {
    opacity: 0 !important;
}

.modal-body {
    padding: 0;
}

.modal-content {
    width: 100%;
    height: 500px;
}

@media screen and (min-width: 970px) {
    #carouselExampleIndicators::before {
        left: 0;
        position: absolute;
        bottom: 0;
        z-index: 1;
        content: "";
        border-top: 65px solid transparent;
        border-left: 950px solid #fff;
    }

    #carouselExampleIndicators::after {
        right: 0;
        position: absolute;
        bottom: 0;
        z-index: 1;
        content: "";
        border-top: 65px solid transparent;
        border-right: 950px solid #fff;
    }
}

.tpm {
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: capitalize;
    font-weight: 500;
    color: #111;
    font-size: 30px;
}

.tpm em {
    color: #ec7532;
}

.tpm::before {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 4px;
    background: #111;
    content: "";
}

.tpm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    height: 20px;
    width: 4px;
    background: #ec7532;
}

.card {
    border: none;
    position: relative;
}

.card b,
.card span {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.card img {
    height: 250px;
}

.socialactivities li {
    display: inline;
}

.socialactivities li i {
    color: #ec7532;
}

.socialactivities li a {
    text-decoration: none;
    color: #111;
}

.review {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border: none;
    height: 20px;
    border-radius: 5px;
}

.review i {
    color: white !important;
}

.review small {
    font-size: 15px;
    color: white;
}

[class^=imghvr-],
[class^=imghvr-] figcaption,
[class^=imghvr-shutter-out-]:before {
    background: linear-gradient(to right, #fbbd61, #ec7532) !important;
}

.fa-play-circle {
    font-size: 30px;
    outline: none;
}

.todaysmovie {
    position: relative;
    z-index: 1;
}

.todaysmovie::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background: #111 none repeat scroll 0 0;
    opacity: 0.5;
}

.todaysmovie::after {
    position: absolute;
    left: 0;
    content: "";
    width: 65%;
    top: 0;
    height: 100%;
    background: url(../img/walfstreet.jpg);
    z-index: -1;
}

.mainmovie h3 {
    color: #fff;
    font-family: cursive;
    font-size: 37px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-transform: capitalize;
    letter-spacing: 1px;
}

.mainmovie h4 {
    font-size: 17px;
    color: #fe9052;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

.mainmovie p {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.watchmv {
    border: none;
    background: linear-gradient(to right, #fbbd61, #ec7532) !important;
    border-radius: 18px;
}

.movieImg {
    border: 5px solid #ec7532;
    border-radius: 5px;
}

.yout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background: none;
}

.yout i {
    color: red;
    font-size: 50px;
}

@media screen and (max-width: 780px) {
    .todaysmovie::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111 none repeat scroll 0 0;
        opacity: 0.5;
    }

    .todaysmovie::after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        top: 0;
        height: 100%;
        background: url(../img/walfstreet.jpg);
        z-index: -1;
    }
}

.nwtm::before {
    left: -11px;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 4px;
    background: #111;
    content: "";
}

.nwtm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    height: 20px;
    width: 4px;
    background: #ec7532;
}

.nwtm {
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: capitalize;
    font-weight: 500;
    color: #111;
    font-size: 30px;
}

.nwtm span {
    font-family: cursive;
    font-weight: 500;
    color: #ec7532;
}

.itemImg img {
    height: 380px !important;
}

.nav-tabs,
.nav-tabs .nav-link,
.nav-link.active {
    border: none;
}

.nav-link.active {
    color: #ec7532 !important;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-tabs li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: width .3s;
}

.nav-tabs li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .socialactivities {
        width: 150px;
    }
}

.subscriber {
    height: 400px;
    background-image: url(../img/strangerthings.jpg);
    position: relative;
}

.subscriber .container {
    position: absolute;
    top: 35%;
}

.subscriber h4 {
    font-size: 17px;
    color: #fe9052;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

.subscriber h3 {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-transform: capitalize;
    letter-spacing: 1px;
}

.subscriber button {
    border: none;
    background: linear-gradient(to right, #fbbd61, #ec7532) !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    margin: 4px;
    margin-left: -4px;
    outline: none;
}

.subscriber input {
    width: 45%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

.fa-long-arrow-alt-down {
    font-size: 24px;
    color: white;
}

.ltnws::before {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 4px;
    background: #111;
    content: "";
}

.ltnws::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    height: 20px;
    width: 4px;
    background: #ec7532;
}

.ltnws {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color: #111;
    font-size: 30px;
}

.ltnws strong {
    font-family: monospace;
}

@media screen and (min-width: 992px) {
    .newscard {
        height: 600px;
    }
.newscard img {
        height: 360px;
    } 
}

.hovercard {
    overflow: hidden;
}

.hovercard img {
    transition: transform 0.5s linear;
}

.hovercard:hover img {
    transform: scale(1.1);
}

.hovercard h3 a {
    text-decoration: none;
    outline: none;
    color: black;
}

.post-tags a {
    color: black;
    text-decoration: none;
    outline: none;
}

.post-tags i {
    color: #ec7532;
}
 footer{
    background: #101010 none repeat scroll 0 0;
} 
.footersocial li{
display: inline;
color: white;
}
.filmoja p,.filmoja a{
    color: white;
}
.quicklinks h5{
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}
.quicklinks a,.quicklinks i{
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}
.quicklinks a:hover{
    color: #ec7532;
}
.account h5{
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}
.account a,.account i{
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}
.account a:hover{
    color: #ec7532;
}
.app h5{
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}
.app p{
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #eee;
}
.percent{
    color: #ec7532;
}
.mainpart{
    padding: 70px 0;
}
.footer-copyright{
    border-top: 1px solid rgba(255, 255, 255, .1);
}
.owl-dots{
    display: none;
}
.owl-nav{
    position: absolute;
    right: 0;
    font-size: 60px;
    top: -40%;
}
.owl-nav button{
    outline: none;
}
.owl-nav button:hover{
    background: none !important;
}
.owl-nav button:hover span{
    color: #ec7532;
}
.newsdate{
    position: absolute;
    right: 25px;
    bottom: 25px;
    background: #111 none repeat scroll 0 0;
    width: auto;
    padding: 15px 20px;
    color: #ec7532;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
}
.newsdate .date{
font-size: 30px;
color: white;
}
.newsdate .month{
    color: #ec7532;
}
.hovercard:hover .newsdate{
    background: linear-gradient(to right, #fbbd61, #ec7532) !important;
}
.hovercard:hover .month{
    color: white;
}