.social li{
    display: inline;
    padding: 3px;
}
.community li{
    display: inline;
    color: white;
    padding: 3px;
}
.social li i{
    color: white;
    font-size: 20px;
}
.fCon{
    background: black;
}
.logo{
    width: 160;
    height: 40px;
}
.scNav{
    height: 90px;
}
.logoDiv{
    margin-left: -28px;
}
.search{
    border: 0;
    outline: none;
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 6px;  
    height: 40px;
}
.srcButton{
    background: #eaeaea none repeat scroll 0 0;
    border: none;
}