html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

.social li {
    display: inline;
    padding: 3px;
}

.community li {
    display: inline;
    color: white;
    padding: 3px;
}

.social li i {
    color: white;
    font-size: 20px;
}

.fCon {
    background: black;
    min-height: 48px;
}

.logo {
    height: auto;
}

.scNav {
    min-height: 75px;
}

.search {
    border: 0;
    outline: none;
    width: 80%;
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 6px;
    height: 40px;
    float: left;
}

.srcButton {
    background: #eaeaea none repeat scroll 0 0;
    border: none;
    height: 40px;
    margin-left: -3px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.mainNav li {
    display: inline;
    padding: 10px;
}

.mainNav .active {
    color: #ec7532;
}

.mainNav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.mainNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: width .3s;
}

.mainNav li a:hover::after {
    width: 100%;
}

.dropdown-slide>.dropdown-menu {
    opacity: .3;
    display: block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.show.dropdown-slide>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.side {
    display: none;
}

@media screen and (max-width: 767px) {
    .side {
        display: block;
        margin-left: -18px;
    }

    .logo {
        width: 60%;
    }

    .logoDiv {
        margin: 0;
        display: block !important;
    }

    .arrow {
        display: none;
    }

    .sidepanel {
        width: 0;
        position: fixed;
        z-index: 11;
        height: auto;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidepanel a:hover {
        color: #f1f1f1;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background: none !important;
        color: black;
        border: none;
    }

    .pln {
        padding: 14px 0;
    }

    .hot {
        position: absolute;
        color: orange;
        transform: rotate(45deg);
        top: 2% !important;
        right: -4% !important;
        width: 15% !important;
    }
}

@media screen and (max-width: 575px) {
    .hot {
        right: 0 !important;
    }

    .plantext {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 575px) {
    .hot {
        width: 27% !important;
    }
}

.post-tags a {
    color: black;
    text-decoration: none;
    outline: none;
}

.post-tags i {
    color: #ec7532;
}

footer {
    background: #101010 none repeat scroll 0 0;
}

.footersocial li {
    display: inline;
    color: white;
}

.filmoja p,
.filmoja a {
    color: white;
}

.quicklinks h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.quicklinks a,
.quicklinks i {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}

.quicklinks a:hover {
    color: #ec7532;
}

.account h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.account a,
.account i {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}

.account a:hover {
    color: #ec7532;
}

.app h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.app p {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #eee;
}

.percent {
    color: #ec7532;
}

.mainpart {
    padding: 70px 0;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.breadcrumb {
    background: none;
}

.breadarea {
    background: url(../img/strangerthings.jpg) no-repeat scroll 0 0/cover;
    padding: 70px 0;
}

.aus {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 400;
}

.breadcrumb a,
.breadcrumb .active {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #ec7532;
}

.filmojafeatures {
    padding: 70px 0;
}

.features::before {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 4px;
    background: #111;
    content: "";
}

.features::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    height: 20px;
    width: 4px;
    background: #ec7532;
}

.features {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

.features span {
    color: #ec7532;
}

.cbody i {
    font-size: 35px;
    color: #B3BAC5;
}

.cbody h3:hover {
    color: #ec7532;
}

.crd {
    border: none;
}

.cline::before {
    position: absolute;
    content: "";
    background: #e5e5e5;
    width: 2px;
    height: 70%;
    right: 0;
    top: 19%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.owl-nav,
.owl-dots {
    display: none;
}

.plan {
    padding: 70px 0;
}

.plantext {
    line-height: 42px;
    letter-spacing: 3px;
    font-size: 33px;
    padding: 12px;
}

.card-header {
    padding: 50px 0;
}

.card {
    border: none;
}

.premium,
.premiumbtn {
    background: linear-gradient(to right, #fbbd61, #ec7532);
}

.premiumbtn {
    color: white;
}

.hot {
    position: absolute;
    color: orange;
    transform: rotate(45deg);
    top: 2%;
    right: -9%;
    width: 33%;
}

.card-body form a {
    border-radius: 16px;
    border: none;
}