html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

.social li {
    display: inline;
    padding: 3px;
}

.community li {
    display: inline;
    color: white;
    padding: 3px;
}

.social li i {
    color: white;
    font-size: 20px;
}

.fCon {
    background: black;
    min-height: 48px;
}

.logo {
    height: auto;
}

.scNav {
    min-height: 75px;
}

.search {
    border: 0;
    outline: none;
    width: 80%;
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 6px;
    height: 40px;
    float: left;
}

.srcButton {
    background: #eaeaea none repeat scroll 0 0;
    border: none;
    height: 40px;
    margin-left: -3px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.mainNav li {
    display: inline;
    padding: 10px;
}

.mainNav .active {
    color: #ec7532;
}

.mainNav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.mainNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: width .3s;
}

.mainNav li a:hover::after {
    width: 100%;
}

.dropdown-slide>.dropdown-menu {
    opacity: .3;
    display: block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.show.dropdown-slide>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.side {
    display: none;
}

@media screen and (max-width: 767px) {
    .side {
        display: block;
        margin-left: -18px;
    }

    .logo {
        width: 60%;
    }

    .logoDiv {
        margin: 0;
        display: block !important;
    }

    .arrow {
        display: none;
    }

    .searchform {
        display: none;
    }

    .mainNav {
        display: none;
    }

    .sidepanel {
        width: 0;
        position: fixed;
        z-index: 11;
        height: auto;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidepanel a:hover {
        color: #f1f1f1;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background: none !important;
        color: black;
        border: none;
    }
}

.post-tags a {
    color: black;
    text-decoration: none;
    outline: none;
}

.post-tags i {
    color: #ec7532;
}

footer {
    background: #101010 none repeat scroll 0 0;
}

.footersocial li {
    display: inline;
    color: white;
}

.filmoja p,
.filmoja a {
    color: white;
}

.quicklinks h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.quicklinks a,
.quicklinks i {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}

.quicklinks a:hover {
    color: #ec7532;
}

.account h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.account a,
.account i {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    text-transform: capitalize;
}

.account a:hover {
    color: #ec7532;
}

.app h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ec7532;
    font-family: 'Roboto Condensed', sans-serif;
}

.app p {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #eee;
}

.percent {
    color: #ec7532;
}

.mainpart {
    padding: 70px 0;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.breadcrumb {
    background: none;
}

.breadarea {
    background: url(../img/strangerthings.jpg) no-repeat scroll 0 0/cover;
    padding: 70px 0;
}

.aus {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 400;
}

.breadcrumb a,
.breadcrumb .active {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #ec7532;
}
.registerarea{
    padding: 70px 0;
}
.card{
    padding: 20px;
}
.login{
    background: #ec7532;
    color: white;
}
@media screen and (max-width:162px){
    .mailadr{
        font-size: 10px;
    }
    .aus{
        font-size: 22px;
    }
}